h1{
	font-family: 'Amatic SC';
	text-align: center;
	font-size: 50px;
	margin-bottom: 5px;
}

#my-contact-info{
	font-family: 'Open Sans';
	text-align: center;
	margin-top: 5px;
}


/*   */.films-the-button{
			font-family: 'Amatic SC';
			font-size: 30px;
			text-align: center;	
		}

		.films-the-body{
			opacity:0;
			transition: opacity 1s linear .5s;
		}

		.films-the-button:hover ~ .films-the-body{
			opacity: 1;
/*   */}

	#films{
		margin: 40px;
		}


/*		.about-the-button{
			margin:0px;
			width: 100px;
			text-align: center;
		
		}

		.about-the-body{

		}*/




